@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Manage";
}
<div id="not-configured" class="alert alert-warning d-none" role="alert">
    <p>
        <strong>You have not configured any repositories</strong>
    </p>
    <p>
        Configure which repositories you wish to manage Dependabot updates for <a href="~/configure">here</a>.
    </p>
</div>
<div id="owner-list">
    <div class="d-none owner-template">
        <h2 class="owner-name"></h2>
        <table class="table">
            <caption class="owner-caption"></caption>
            <thead>
                <tr>
                    <th scope="col" aria-label="The name of the repository">Repository</th>
                    <th scope="col" aria-label="The number of pending checks">Pending</th>
                    <th scope="col" aria-label="The number of failed checks">Failed</th>
                    <th scope="col" aria-label="The number of successful checks">Successful</th>
                    <th scope="col" aria-label="The number of approved pull requests">Approved</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="repo-list">
                <tr class="d-none item-template">
                    <td>
                        <span class="loader spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <a class="repo-name" href="" target="_blank"></a>
                    </td>
                    <td>
                        <span class="repo-pending-count">&hellip;</span>
                        <span class="fa-solid fa-spinner text-warning" aria-hidden="true"></span>
                    </td>
                    <td>
                        <span class="repo-error-count loading-count">&hellip;</span>
                        <span class="fa-solid fa-xmark text-danger" aria-hidden="true"></span>
                    </td>
                    <td>
                        <span class="repo-success-count loading-count">&hellip;</span>
                        <span class="fa-solid fa-check text-success" aria-hidden="true"></span>
                    </td>
                    <td>
                        <span class="repo-approved-count loading-count">&hellip;</span>
                        <span class="fa-solid fa-thumbs-up text-primary" aria-hidden="true"></span>
                    </td>
                    <td>
                        <div class="float-right">
                            <button class="btn btn-secondary repo-refresh" type="button" disabled>
                                <span class="fa fa-refresh" aria-label="Refresh the check and approval counts"></span>
                                <span class="loader spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-primary ml-2 mr-2 repo-pull-requests" type="button" data-toggle="modal" data-target="#pr-modal" disabled>
                                <span class="fa-solid fa-code-pull-request" aria-label="View pull requests"></span>
                            </button>
                            <button class="btn btn-success btn-merge repo-merge" type="button" disabled>
                                <span aria-label="Attempt to merge all mergeable pull requests">Merge</span>
                                <span class="fa-solid fa-code-merge" aria-hidden="true"></span>
                                <span class="loader spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade"
     id="pr-modal"
     role="dialog"
     tabindex="-1"
     aria-labelledby="pr-label"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pr-label">Dependabot pull requests</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <caption>Open Dependabot pull requests.</caption>
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th class="text-center" scope="col">Status</th>
                            <th class="text-center" scope="col">Approved?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pr-template d-none">
                            <td>
                                <span class="fa-solid fa-code-merge text-github-open" aria-hidden="true"></span>
                                <a href="" target="_blank" class="pr-title">Title</a>
                            </td>
                            <td class="text-center">
                                <span class="fa-solid fa-xmark text-danger pr-status-error d-none" aria-label="Error"></span>
                                <span class="fa-solid fa-spinner text-warning pr-status-pending d-none" aria-label="Pending"></span>
                                <span class="fa-solid fa-check text-success pr-status-success d-none" aria-label="Success"></span>
                            </td>
                            <td class="text-center">
                                <span class="fa-solid fa-thumbs-up text-primary pr-is-approved align-middle d-none" aria-label="Approved"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
