@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Manage";
}
<div id="not-configured" class="alert alert-warning d-none" role="alert">
    <p>
        <strong>You have not configured any repositories</strong>
    </p>
    <p>
        Configure which repositories you wish to manage Dependabot updates for <a href="~/configure">here</a>.
    </p>
</div>
<div id="owner-list" data-refresh-period="@(Model.RefreshPeriod?.TotalMilliseconds)">
    <div class="d-none owner-item owner-template">
        <h2 class="owner-name"></h2>
        <table class="table table-responsive">
            <caption class="owner-caption"></caption>
            <thead>
                <tr>
                    <th scope="col" aria-label="The name of the repository">Repository</th>
                    <th scope="col" class="col-lg-3" aria-label="The pull request status checks and approvals">Statuses and Approvals</th>
                    <th scope="col" class="col-lg-3">Actions</th>
                </tr>
            </thead>
            <tbody class="repo-list">
                <tr class="d-none item-template repo-item">
                    <td class="align-middle">
                        <span class="loader spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <a class="repo-name" href="#" target="_blank"></a>
                    </td>
                    <td>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-lg-3 mt-3 mt-lg-2">
                                    <span class="repo-count-pending" aria-label="The number of pending checks">&hellip;</span>
                                    <span class="fa-solid fa-spinner repo-status text-warning" data-count="0" aria-hidden="true"></span>
                                </div>
                                <div class="col-12 col-lg-3 mt-3 mt-lg-2">
                                    <span class="repo-count-error loading-count" aria-label="The number of failed checks">&hellip;</span>
                                    <span class="fa-solid fa-xmark repo-status text-danger" data-count="0" aria-hidden="true"></span>
                                </div>
                                <div class="col-12 col-lg-3 mt-3 mt-lg-2">
                                    <span class="repo-count-success loading-count" aria-label="The number of successful checks">&hellip;</span>
                                    <span class="fa-solid fa-check repo-status text-success" data-count="0" aria-hidden="true"></span>
                                </div>
                                <div class="col-12 col-lg-3 mt-3 mt-lg-2">
                                    <span class="repo-count-approved loading-count" aria-label="The number of approvals">&hellip;</span>
                                    <span class="fa-solid fa-thumbs-up repo-status text-primary" data-count="0" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="text-right">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-lg-3 mt-1">
                                        <button class="btn btn-manage-action btn-secondary repo-refresh" title="Refresh" type="button" disabled>
                                            <span class="fa fa-refresh" aria-label="Refresh the check and approval counts"></span>
                                            <span class="loader spinner-border spinner-border-sm d-none" role="status">
                                                <span class="sr-only">Refreshing...</span>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="col-12 col-lg-3 mt-1">
                                        <a class="btn btn-manage-action btn-primary repo-configure disabled" href="#" role="button" target="_blank" title="View the Dependabot configuration">
                                            <span class="fa-solid fa-robot" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                    <div class="col-12 col-lg-3 mt-1">
                                        <button class="btn btn-manage-action btn-pr repo-pull-requests" title="View pull requests" type="button" data-toggle="modal" data-target="#pr-modal" disabled>
                                            <span class="fa-solid fa-code-pull-request" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="col-12 col-lg-3 mt-1">
                                        <button class="btn btn-manage-action btn-success btn-merge repo-merge" title="Attempt to merge all mergeable pull requests" type="button" disabled>
                                            <span class="fa-solid fa-code-merge" aria-hidden="true"></span>
                                            <span class="loader spinner-border spinner-border-sm d-none" role="status">
                                                <span class="sr-only">Merging...</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade"
     id="pr-modal"
     role="dialog"
     tabindex="-1"
     aria-labelledby="pr-label"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pr-label">Dependabot pull requests</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <caption>Open Dependabot pull requests.</caption>
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th class="col-lg-4" scope="col">Status and Approval</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pr-template d-none">
                            <td>
                                <span class="fa-solid fa-code-merge text-github-open" aria-hidden="true"></span>
                                <a href="" target="_blank" class="pr-title">Title</a>
                            </td>
                            <td class="text-center">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-2 mt-2 mt-lg-1">
                                            <span class="fa-solid fa-xmark text-danger pr-status-error d-none" data-count="0" aria-label="Error" title="Error"></span>
                                            <span class="fa-solid fa-spinner text-warning pr-status-pending d-none" data-count="0" aria-label="Pending" title="Pending"></span>
                                            <span class="fa-solid fa-check text-success pr-status-success d-none" data-count="0" aria-label="Success" title="Success"></span>
                                        </div>
                                        <div class="col-lg-10 mt-3 mt-lg-1">
                                            <span class="fa-solid fa-thumbs-up text-primary pr-is-approved d-none" data-count="0" aria-label="Approved" title="Approved"></span>
                                            <button class="btn btn-success btn-approve pr-approve d-none" type="button">
                                                <span aria-label="Approve this pull request">Approve</span>
                                                <span class="fa-solid fa-check" aria-hidden="true"></span>
                                                <span class="loader spinner-border spinner-border-sm d-none" role="status">
                                                    <span class="sr-only">Approving...</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
