@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Manage";
}
<div id="not-configured" class="alert alert-warning d-none" role="alert">
    <p>
        <strong>You have not configured any repositories</strong>
    </p>
    <p>
        Configure which repositories you wish to manage Dependabot updates for <a href="~/configure" title="Configure repositories to mange.">using this page</a>.
    </p>
</div>
<div id="owner-list" data-refresh-period="@(Model.RefreshPeriod?.TotalMilliseconds)">
    <div class="d-none owner-item owner-template">
        <h2 class="owner-name pl-1"></h2>
        <table class="table">
            <caption class="owner-caption"></caption>
            <thead>
                <tr class="d-flex">
                    <th class="col" aria-label="The name of the repository">Repository</th>
                    <th class="col col-3" aria-label="The pull request status checks and approvals">Statuses</th>
                    <th class="col col-2 col-md-3">Actions</th>
                </tr>
            </thead>
            <tbody class="repo-list">
                <tr class="d-none item-template repo-item">
                    <td class="col">
                        <span class="loader spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <a class="align-middle repo-name" target="_blank" analytics-event="view_pull_requests"></a>
                    </td>
                    <td class="col col-3">
                        <div class="container">
                            <div class="row">
                                <div class="col status-container" title="The number of pending checks">
                                    <span class="repo-count-pending" aria-label="The number of pending checks">&hellip;</span>
                                    <span class="fa-solid fa-spinner repo-status text-warning" data-count="0" aria-hidden="true"></span>
                                </div>
                                <div class="col status-container" title="The number of failed checks">
                                    <span class="repo-count-error loading-count" aria-label="The number of failed checks">&hellip;</span>
                                    <span class="fa-solid fa-xmark repo-status text-danger" data-count="0" aria-hidden="true"></span>
                                </div>
                                <div class="col status-container" title="The number of successful checks">
                                    <span class="repo-count-success loading-count" aria-label="The number of successful checks">&hellip;</span>
                                    <span class="fa-solid fa-check repo-status text-success" data-count="0" aria-hidden="true"></span>
                                </div>
                                <div class="col status-container" title="The number of approvals">
                                    <span class="repo-count-approved loading-count" aria-label="The number of approvals">&hellip;</span>
                                    <span class="fa-solid fa-thumbs-up repo-status text-primary" data-count="0" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col col-2 col-md-3">
                        <button class="btn btn-manage-action btn-secondary repo-refresh m-1" title="Refresh" type="button" disabled analytics-event="refresh_pull_requests">
                            <span class="fa fa-refresh" aria-label="Refresh the check and approval counts" role="img"></span>
                            <span class="loader spinner-border spinner-border-sm d-none" role="status">
                                <span class="sr-only">Refreshing...</span>
                            </span>
                        </button>
                        <a class="btn btn-manage-action btn-primary repo-configure disabled m-1" href="#" role="button" target="_blank" title="View the Dependabot configuration" analytics-event="view_repo_configuration">
                            <span class="fa-solid fa-robot" aria-hidden="true"></span>
                        </a>
                        <button class="btn btn-manage-action btn-pr repo-pull-requests m-1" title="View pull requests" type="button" data-toggle="modal" data-target="#pr-modal" disabled analytics-event="view_pull_requests_modal">
                            <span class="fa-solid fa-code-pull-request" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-manage-action btn-success btn-merge repo-merge m-1" title="Attempt to merge all mergeable pull requests" type="button" disabled analytics-event="merge_pull_requests">
                            <span class="fa-solid fa-code-merge" aria-hidden="true"></span>
                            <span class="loader spinner-border spinner-border-sm d-none" role="status">
                                <span class="sr-only">Merging...</span>
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade"
     id="pr-modal"
     role="dialog"
     tabindex="-1"
     aria-labelledby="pr-label"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pr-label">Dependabot pull requests</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" analytics-event="close_pull_requests_modal">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <caption>Open Dependabot pull requests.</caption>
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th class="col-lg-2" scope="col">Status</th>
                            <th class="col-lg-3" scope="col">Approved?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pr-template d-none">
                            <td>
                                <span class="fa-solid fa-code-merge text-github-open" aria-hidden="true"></span>
                                <a href="" target="_blank" class="pr-title" title="View this pull request in GitHub" analytics-event="view_pull_request">Title</a>
                            </td>
                            <td class="text-center">
                                <span class="fa-solid fa-xmark text-danger pr-status-error d-none" data-count="0" aria-label="Error" title="Error"></span>
                                <span class="fa-solid fa-spinner text-warning pr-status-pending d-none" data-count="0" aria-label="Pending" title="Pending"></span>
                                <span class="fa-solid fa-check text-success pr-status-success d-none" data-count="0" aria-label="Success" title="Success"></span>
                            </td>
                            <td class="text-center mt-3 mt-lg-1">
                                <span>
                                    <span class="fa-solid fa-xmark text-danger pr-status-error d-none" data-count="0" aria-label="Error" title="Error"></span>
                                    <span class="fa-solid fa-spinner text-warning pr-status-pending d-none" data-count="0" aria-label="Pending" title="Pending"></span>
                                    <span class="fa-solid fa-check text-success pr-status-success d-none" data-count="0" aria-label="Success" title="Success"></span>
                                </span>
                                <span>
                                    <span class="fa-solid fa-thumbs-up text-primary pr-is-approved d-none" data-count="0" aria-label="Approved" title="Approved"></span>
                                    <button class="btn btn-success btn-approve pr-approve d-none" type="button" aria-label="Approve this pull request" analytics-event="approve_pull_request">
                                        <span>Approve</span>
                                        <span class="fa-solid fa-check d-none d-md-inline-block" aria-hidden="true"></span>
                                        <span class="loader spinner-border spinner-border-sm d-none" role="status">
                                            <span class="sr-only">Approving...</span>
                                        </span>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
