@page "/"
@model IndexModel

@{
    ViewData["Title"] = "Manage";
}

@if (!User.Identity!.IsAuthenticated)
{
    <h1>Dependabot Helper</h1>
    <hr />
    <p class="lead">
        Sign in with your GitHub account to manage your Dependabot updates.
    </p>
    <form action="~/sign-in" method="post">
        <button class="btn btn-lg btn-primary m-1" id="sign-in" type="submit">Sign in</button>
    </form>
}
else
{
    <div id="not-configured" class="alert alert-warning d-none" role="alert">
      <p>
          <strong>You have not configured any repositories</strong>
      </p>
      <p>
          Configure which repositories you wish to manage Dependabot updates for <a href="~/configure">here</a>.
      </p>
    </div>
    <div id="owner-list">
        <div class="d-none owner-template">
            <h2 class="owner-name"></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Repository</th>
                        <th scope="col">Pending</th>
                        <th scope="col">Failed</th>
                        <th scope="col">Successful</th>
                        <th scope="col">Approved</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="repo-list">
                    <tr class="d-none item-template">
                        <td>
                            <span class="loader spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <a class="repo-name" href="" target="_blank"></a>
                        </td>
                        <td>
                            <span class="repo-pending-count">&hellip;</span>
                            <span class="fa-solid fa-spinner text-warning"></span>
                        </td>
                        <td>
                            <span class="repo-error-count loading-count">&hellip;</span>
                            <span class="fa-solid fa-xmark text-danger"></span>
                        </td>
                        <td>
                            <span class="repo-success-count loading-count">&hellip;</span>
                            <span class="fa-solid fa-check text-success"></span>
                        </td>
                        <td>
                            <span class="repo-approved-count loading-count">&hellip;</span>
                            <span class="fa-solid fa-thumbs-up text-primary"></span>
                        </td>
                        <td>
                            <div class="float-right">
                                <button class="btn btn-secondary mr-2 repo-refresh" disabled>
                                    <span class="fa fa-refresh"></span>
                                    <span class="loader spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-success btn-merge repo-merge" disabled>
                                    <span>Merge</span>
                                    <span class="loader spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div>
        <small>
            GitHub API Limits: <span id="rate-limit-remaining">@Model.RateLimitRemaining</span>/<span id="rate-limit-total">@(Model.RateLimitTotal)</span>. Resets <span id="rate-limit-resets">@(Model.RateLimitResets)</span>.
        </small>
    </div>
}
